<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Employee Table</h4>
            <!--            <p class="card-category"> Here is a subtitle for this table</p>-->
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>ID</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Gender</th>
                <th>Personal ID</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Salary</th>
                <th>Degree</th>
                <th>Position</th>
                </thead>
                <tbody>
                <tr *ngFor="let employee of employees">
                  <td>{{employee.id}}</td>
                  <td>
                    <h6>{{employee.name}}</h6>
                    <p>{{employee.email}}</p>
                  </td>
                  <td>{{employee.dateOfBirth}}</td>
                  <td>{{employee.gender}}</td>
                  <td>{{employee.personalID}}</td>
                  <td>{{employee.phoneNumber}}</td>
                  <td>{{employee.address}}</td>
                  <td>{{employee.salary}}</td>
                  <td>{{employee.employeeDegree.name}}</td>
                  <td>
                    <h6>{{employee.employeeDepartment.name}}</h6>
                    <p>{{employee.employeeOffice.name}}</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

