table, td, th{
    border-collapse: collapse;
    border: 1px solid grey;
    text-align: center;
    padding: 15px;
}
caption{
    font-weight: bold;
    color: blue;
    padding: 20px;
    font-size: 1.6em;
}
th{
    color: white;
}
td:nth-child(1){
color: red;
}
td:nth-child(7){
    color: blue;
}

th:nth-child(n) {
    background-color: orange;
}
th:nth-child(1), th:nth-child(7){
    background-color: red;
}
