body{
    font-family: Arial;
    font-size: 80%;
}
form div{
    margin: 0px 0px 10px 0px;
    font-size: 1.1em;

}
td{
    text-align: center;
    width: 200px;
    height: 40px;
}
table, td, th{
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 5px;
}
th {
    height: 40px;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
