body{
    font-family: Arial;
}
table,td,th {
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 15px;

}
span{
    color: blue;
    line-height: 1.5;
    padding: 20px;
}
.margin-h1 {
    color: blue;
    margin-left: 280px;
}
.margin-lop{
    margin-left: 460px;
}
.margin-giaovien {
    margin-left:400px ;
}
.background-th-dong1 {
    background-color: yellow;
    width: 130px;
}