body {
    font-family:"Times New Roman";
    font-size: 80%;
}
form {
    width: 600px;
    margin: 40px auto;
    padding: 10px;
    border: 20px solid lightblue;
    border-top-width: 10px;
}
fieldset {
    border: none;

}
form div {
    margin: 0px 0px 10px 0px;
    font-size: 1.1em;
    color: blue;
  }
.legend{
    background: orangered;
    color: white;
    font-size: 1.6em;
    padding:5px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
label{
    width:100px;
    display: block;
    float: left;
    clear: left;
}
.margin-checkbox-luotweb{
    margin-left: 108.5px;
}
.margin-checkbox-thethao {
    margin-left: 9px;
}
.margin-checkbox-docsach {
    margin-left: 15px;
}
span {
    color: orangered;
}
.resized {
    width: 240px;
    margin-left: 9px;
}