<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<a href="/blogs/create"> Create new Blog</a>
<form>
    <label for="title">Search by Title</label>
    <input type="text" id="title" th:name="title" th:value="${title}">
    <button type="submit">Search</button>
</form>
<form>
    <label>Filter by Category</label>
    <select onchange="this.form.submit()" th:name="categoryId">
        <option th:value="all" th:text="All"></option>
        <th:block th:each="category: ${categories}">
            <option th:value="${category.getId()}" th:text="${category.getName()}" th:selected="${category.getId() == categoryId} "></option>

        </th:block>
    </select>
</form>
<h1>Blogs</h1>
<p th:if="${message}" th:text="${message}"></p>
<table border="1" >
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Summary</th>
        <th>Creation Time</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>

    </tr>
    <th:block th:each="blog,loopState : ${blogs.content}">
        <tr>
            <td th:text="${loopState.count}"></td>
            <td th:text="${blog.getTitle()}"></td>
            <td th:text="${blog.getAuthor()}"></td>
            <td th:text="${blog.getCategory().getName()}"></td>
            <td th:text="${blog.getSummary()}"></td>
            <td th:text="${blog.getCreationTime()}"></td>
            <td><a th:href="@{/blogs/edit/{id}(id=${blog.getId()})}">Edit</a></td>
            <td><a th:href="@{/blogs/delete/{id}(id=${blog.getId()})}" onclick=" return confirm('Do you want to delete it ?')">Delete</a></td>
            <td><a th:href="@{/blogs/detail/{id}(id=${blog.getId()})}" >Detail</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:if="${blogs.hasPrevious()}" th:href="@{/blogs(page=${blogs.number - 1},categoryId=${categoryId},title=${title})}" >Previous</a>
    <span th:text="${blogs.number+1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:if="${blogs.hasNext()}" th:href="@{/blogs(page=${blogs.number + 1},categoryId=${categoryId},title=${title})}" >Next</a>
</div>

</body>
</html>