<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:action="@{/user/create}" method="post" th:object="${user}">
    <table>
        <tr>
            <th><label for="firstName">First Name:</label></th>
            <td><input type="text" id="firstName" th:field="*{firstName}" ></td>
            <td><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span></td>
        </tr>
        <tr>
            <th><label for="lastName">Last Name:</label></th>
            <td><input type="text" id="lastName" th:field="*{lastName}" ></td>
            <td><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span></td>
        </tr>
        <tr>
            <th><label for="phoneNumber">Phone number:</label></th>
            <td><input type="text" id="phoneNumber" th:field="*{phoneNumber}" ></td>
            <td><span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span></td>

        </tr>
        <tr>
            <th><label for="age">Age:</label></th>
            <td><input type="text" id="age" th:field="*{age}" ></td>
            <td><span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span></td>
        </tr>
        <tr>
            <th><label for="email">Email:</label></th>
            <td><input type="text" id="email" th:field="*{email}" ></td>
            <td><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
        </tr>
        <td></td>
        <td><button type="submit">Register</button></td>
    </table>

</form>
</body>
</html>